body {
	font-family: Trebuchet MS, sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#main-navbar{
	background-color: #0C74F3;
	font-size: 25px;
	font-weight: bold;
	position: relative;
	text-align: center;
	width: 100%;
}

#navbar-container{
	position: relative;
}

#navbar-container ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

#navbar-container ul li{
	display: block;
	float: left;
	left: 50%;
	right: 50%
}

#navbar-container ul li a{
	color: #f38b0c;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.resume {
	background-image: url("../media/shapes1.png");
	background-color: #fff;
}

#resume-h3 {
	color: #DD1717;
	font-size: 20px;
}

#resume-h1 {
	color: #50C878;
	font-size: 30px;
}

#resume-p {
	color: #ffb433;
	font-size: 18px;
}


#main-li {
	list-style-type: none;
	margin: 0;
    padding: 0;
	color: #000;
	font-size: 18px;
}

#sub-li {
	color: #33DBFF;
	font-size: 16px;
}

.pokemon {
	background-image: url("../media/pokeball.png");
}

#h2-pokemon {
	color: #d3d3d3;
	font-size: 30px;
}

#p-pokemon {
	color: #d3d3d3;
	font-size: 18px;
}

#section-li-pokemon {
	color: #222224;
	font-size: 18px
}

#pokemon-sub-li {
	color: #f0f0f0;
	font-size: 16px
}

.chess {
	background-image: url("../media/pawn.png");
}

#chess-p {
	color: #eeeed2;
	font-size: 18px;
}

#chess-h1 {
	color: #769656;
	font-size: 30px;
}

#chess-h3 {
	color: #769656;
	font-size: 20px;
}

#sub-li-chess {
	color: #769656;
	font-size: 18px
}

#secondary-sub-li-chess {
	color: #eeeed2;
	font-size: 16px
}
