body{
	font-family: Trebuchet MS, sans-serif;
}
h1{
	text-align: center;
}

h2{
	text-align: center;
}

ul{
	list-style-type: none;
}

ul li{
	font-size: 18px;
}

ul li li{
	font-size: 16px
}

ul li li li{
	font-size: 15px
}

#main-navbar{
	background-color: #0C74F3;
	font-size: 25px;
	font-weight: bold;
	position: relative;
	text-align: center;
	width: 100%;
}

#navbar-container{
	position: relative;
}

#navbar-container ul{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

#navbar-container ul li{
	display: block;
	float: left;
	left: 50%;
	right: 50%
}

#navbar-container ul li a{
	color: #f38b0c;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.resume{
	background-image: url("../media/shapes1.png");
	background-color: #fff;
}

.resume h3{
	color: #DD1717;
	font-size: 20px;
	position: relative;
	left: 5px;
}

.resume h1{
	color: #50C878;
	font-size: 30px;
	position: static;
}

.resume p{
	color: #ffb433;
	font-size: 18px;
	position: relative;
	left: 5px;
}

.resume ul li{
	color: #000;
	position: relative;
	left: 5px;
}

.resume ul li li{
	color: #33DBFF;
	position: relative;
	left: 10px;
}

.pokemon{
	background-image: url("../media/pokeball.png");
}

.pokemon h2{
	color: #d3d3d3;
	font-size: 30px;
}

.pokemon p{
	color: #d3d3d3;
	font-size: 18px;
}

.pokemon ul li li{
	color: #f0f0f0;
}

.pokemon ul li li li{
	color: #222224;
}
